//varibles
$black: 1A1A1A;
$white: white;

:root{
    --fondo: rgba(34,34,34,1);
    --medio: rgba(255,255,255,0.2);
    --cajatexto: rgb(60, 60, 60);
    --font: rgba(255,255,255,1);
    --font2: rgba(1A1A1A);
}

html{
    background-color: var(--fondo);
    font-family: sans-serif;
}
body{
    &.dark{
        background: $black;

    }
    &.light{
        background: $white;
        --frente: #{ $black};
        --fonde: #{$white};
        color: var(--frente); // al atributo color se le aplica lo que tiene la varibla frente 
        background-color: var(--fondo); // al atributo color se le aplica lo que tiene la varibla fondo
    }
}

header#encabezado{
    display: flex;       
    flex-direction: row; //orden horizontalmente los objetos
    justify-content: space-between;
    > h1{
        display: flex;
        flex-direction: row;
        text-align: center;
        font: 200% sans-serif;
        color: var(--font);
    }  
    #fullScreenBtn{        
        background-color:transparent;
        border: 1px solid var(--font);
        border-radius: 4px;
        color: var(--font);
        margin-right: 0%;
        width: 45px;
        height: 45px;
        margin-top: 1rem;               
    }
}

#nueva{
    display: flex;
    flex-direction: row;
    > input{ // > sifnifica que es un hijo
        flex-grow: 1; //especifica el factor de crecimiento
        margin-right: 1rem;
        font-size: 1.5rem;
        border: transparent;
        background-color: var(--cajatexto);
        width: 3rem;
        border-top-width: 2px;
        border-right-width: 2px;
        border-bottom-width: 2px;
        border-left-width: 2px; 
        color: var(--font2);                     
    }
    > button{
        background-color:transparent;
        border-radius: 4px;
        border: 1px solid var(--font); 
        &:hover { background-color: var(--cajatexto);        
        }
    }
}
#input::placeholder { color: red};

ul#listado {    
    display: flex;
    flex-direction: column;
    list-style: none; //stilo de listas: saco el punto
    padding: 0;
    
    > li {
        display: flex;       
        flex-direction: row; //orden horizontalmente los objetos
        justify-content: space-between; //ordena los objetas espaciados entre ellos igual between        
       // padding: 0.5rem;
        margin-bottom: 1rem;
        border-style: solid;
        border-color: transparent;
        font-size: 1.5rem;
        font: 150% sans-serif;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        background-color: var(--medio);  
       // height: 2rem;
        div{
            display: flex;
            flex-direction: flex;
            justify-content: space-between; //revisar            
            
            input[type ="checkbox"]{
                margin-right: 1rem;
                width:25px;
                height:25px;
                align-self: center; //revisar para abajo
                color: var(--font);
                padding-top: 8px;
                padding-bottom: 8px;
                padding-left: 8px;
                padding-right: 8px;
                margin-left: 4px;
                font-size: 16px;
                background-color: var(--cajatexto);

            }         

            p{
                color: var(--font);
                font-size: 20px;
                font-family: sans-serif;
                margin-left: 4px;                              
            }
        }
       
        button {
            background-color: transparent;
           // border: 0px solid black;
            border: 1px solid var(--font);
            color: var(--font);
            border-radius: 4px;
            height: 48px;
            width: 50px;
            padding-top: 8px;
            padding-bottom: 8px;
            padding-left: 8px;
            padding-right: 8px;
            margin-left: 4px;
            font-size: 16px;
            font-size:  1.2rem;
            > sgv {
                width: 2rem;
            }

        }
    }

}

input[type="checkbox"]:checked+p{
    text-decoration: line-through;
	
}